.weather {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  max-width: 600px;
  min-height: 235px;
  padding: 25px 25px 20px 20px;
  border-radius: 10px;
  color: #ffffff;
}

.weather__city-name {
  font-size: 55px;
}

.weather__info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.weather__temp {
  font-size: 80px;
  font-weight: bold;
  text-align: left;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.weather__feels-like {
  font-size: 20px;
  font-weight: 400;
}

.weather__description {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  font-size: 30px;
}

.weather__description::first-letter {
  text-transform: uppercase;
}

.weather__icon {
  width: 200px;
}
