.form {
  display: flex;
  gap: 0.5rem;
}

/* .form,
.form__city-label {
  width: 100%;
} */

.form__city-label {
  position: relative;
  align-items: flex-start;
  gap: 0.5rem;
}

.form__city-input {
  display: block;
  width: 100%;
  font-size: 18px;
  padding: 10px;
  padding-left: 42px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.form__city-input:focus {
  outline: 0;
}

.form__city-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  z-index: 2;
}

.form__btn {
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .form {
    width: 100%;
  }
}
