#root {
  width: 100vw;
  height: 100vh;
}

.bg-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
}

.cloudy {
  background: linear-gradient(135deg, #bdc3c7 0%, #2c3e50 100%);
}

.partly-cloudy {
  background: linear-gradient(135deg, #a1c4fd 0%, #c2e9fb 100%);
}

.sunny {
  background: linear-gradient(135deg, #ffcc00 0%, #ff9500 50%, #ff2e63 100%);
}

.rain {
  background: linear-gradient(to bottom, #4b6cb7 0%, #182848 100%);
}
