* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  /* background: linear-gradient(135deg, #ffcc00 0%, #ff9500 50%, #ff2e63 100%); */

  /* background: radial-gradient(circle at top, #ffcc00, #ff9500, #ff5e62); */

  /* background: linear-gradient(to bottom, #a1c4fd 0%, #c2e9fb 50%, #fbc2eb 100%); */

  /* background: linear-gradient(
    45deg,
    rgba(161, 196, 253, 0.8),
    rgba(194, 233, 251, 0.9)
  ); */

  /* background: linear-gradient(to bottom, #4b6cb7 0%, #182848 100%); */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
